server:
  port: 8081

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/juliMillen/config-server-test.git
          search-paths: config-data
          username: ${GIT_USER}
          password: ${GIT_PASSWORD}